/* General reset and background */
body {
  margin: 0;
  padding: 0;
  background-color: #DBEDFF;
  font-family: "Inter", sans-serif;
}

/* Sticky Banner */
.sticky_banner {
  background-color: #EDF1F7;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Heading */
.head {
  color: rgb(12, 42, 77);
  font-size: 2rem;
}

video {
  margin-top: 5px;
  height: 240px;
  width: 320px;
}
h1 {
  width: 100%;
  color: rgb(37, 3, 3);
  text-align: center;
  padding: 20px;
  margin: 0;
  box-sizing: border-box;
}

/* Box-sizing to include padding and border */
* {
  box-sizing: border-box;
}

/* Responsive Column */
.rightcolumn {
  float: left;
  border-style: solid;
  border-color: #DBEDFF;
 /* border-left: 10px; */
  width: 50%;
  
}
.leftcolumn{
  
  float: left;
  width: 50%;

}

/* Card Layout */
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #A6CAEC; 
  padding: 20px; padding-left: 10px;
  margin-top: 25px; margin-right: 20px;
  gap: 20px;
}

.card.reverse {
  flex-direction: row-reverse;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Image in Circle */
.circle-img {
  width: 255px;
  height: 255px;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
  
 
}

.circle-img img {   
  width: 100%;
  height: 100%;
  object-fit: cover;
}

p{
  font-family: "Inter", sans-serif;
}
/* Text Content */
.text-content {
  font-size: 1rem;
  color: #333;
  max-width: 500px;
  font-family: "Inter", sans-serif;
}
.text-contentp {
  font-size: 1.2rem;
 color: #333;
 max-width: 500px;
}

/* Label Tag */
.label {
  background-color: rgb(13, 44, 70);
  color: white;
  padding: 5px 2rem;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
}
footer{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #A6CAEC; 
  padding: 20px; padding-left: 10px;
  gap: 20px;
}
.link a {
  display: flex;
  flex-direction: row;
  font-family: "Inter", sans-serif;
  font-size: medium;
  background-color: rgb(13, 44, 70);
  color: rgb(255, 255, 255);
  padding: 14px 16px;
  text-decoration: none;
}
.link a:hover {
    
  color: rgb(51, 255, 0);
}
ul{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
/* Responsive Media Queries */
@media screen and (max-width: 800px) {
  .card {
      flex-direction: column;
      align-items: center;
  }

  .circle-img {
      width: 200px;
      height: 200px;
  }

  .text-content {
      max-width: 100%;
      text-align: center;
  }

  .label {
      padding: 5px 1rem;
  }
}
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
